.foto-testimonio {
  background-image: url('../../../assets/xd.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}