<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand navbar-logo-link" routerLink="/">
      Logo Universidad
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="/" routerLink="/" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/testimonios" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Testimonios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/programas-academicos" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Programas Académicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacto" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>